@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Regular.woff2') format('woff2'), url('RobotoSlab-Regular.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
.headtext{
    position: absolute;
    font-size: 50px;
    color:#8a6013;
    top: 35%;
    left: 29%;
    font-weight:500
}