@media (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
  .header {
    align-items: center;
    flex-direction: column;
  }
  .header-all {
    width: 90%;
    height: fit-content !important;
  }
  .container img {
    height: fit-content !important;
  }
  .head {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .logotip {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 250px;
    height: fit-content;
  }
  /* .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    border-color: #000;
    margin-top: 15px;
  }
  #burger-menu::before,
  #burger-menu::after {
    border-radius: 5px;
    contain: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
  }
  #burger-menu::before {
    border-radius: 5px;
  }
  #burger-menu::after {
    bottom: 0;
    border-radius: 5px;
  }
  #burger-menu span {
    border-radius: 5px;
    position: absolute;
    background-color: #000;
    border-radius: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  } */
  /* .Menu {
    display: none;
  } */
  /* .Menu.active {
    position: relative;
    background-color: #000;
    width: 400px;
    height: fit-content;
  } */
  .Menu {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  .navbar-toggle {
    display: block;
  }
  .Menu li {
    margin: 10px 0;
  }
  .Menu.active {
    display: flex;
  }
  .Menu li:last-child {
    margin-bottom: 0;
  }
  .top-logo-img {
    display: flex;
    flex-direction: row-reverse;
  }
  .HeadSearch {
    display: flex;
    padding: 20px;
    margin: auto;
  }
  .search {
    width: 290px;
  }
  .headcontant {
    margin-top: 40px;
    height: fit-content;
    gap: 105px;
  }
  .headtext {
    font-size: 30px;
  }
  .MiddleList {
    display: none;
  }
  .content-first {
    padding: 71px 0 20px 0;
  }
  #block-first {
    flex-direction: column;
  }
  #block-first-first {
    width: 80%;
  }
  #block-first-first p {
    width: auto;
  }
  #first-img {
    width: 22em;
    height: auto;
  }
  #block-second {
    flex-direction: column-reverse;
  }
  #block-second-first {
    width: 80%;
  }
  #img-content-second {
    width: 22em;
    height: auto;
  }
  #content-second-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  #footer_first {
    flex-direction: column;
    align-items: center;
  }
  #footer_first ul {
    flex-direction: column;
    padding-left: 0px;
  }
  #icons {
    display: none;
  }

  .contant-contact {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center !important;
    justify-content: center !important;
  }
  .content-anketa {
    display: flex;
    flex-direction: column !important;
  }
  .right-content {
    margin-left: 0px;
    width: 100% !important;
    height: fit-content !important;
    overflow-x: hidden;
  }
  .left-content {
    margin-left: 0px;
    width: 100% !important;
    height: fit-content !important;
    overflow-x: hidden;
  }
  .left-content input {
    width: 100%;
    box-sizing: border-box;
  }
  .input2,
  .input3 {
    width: 100%;
    box-sizing: border-box;
  }
  .select {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .select::after {
    content: "\25BC"; /* добавляем стрелку вниз */
    position: absolute; /* абсолютное позиционирование */
    top: 50%; /* выравнивание по вертикали */
    right: 10px; /* отступ от правого края */
    transform: translateY(-50%); /* центрируем по вертикали */
    pointer-events: none; /* чтобы стрелка не перехватывала события */
  }
  .sumbit-kapcha {
    width: 100%;
  }
  .input4 {
    margin-right: 10px;
  }
  .kaptcha {
    width: 150px;
    height: fit-content;
    margin-right: 2px;
  }
  .right-content button {
    width: 100px;
  }
  .textBlock {
    margin: 5px 5px 5px 5px;
    padding: 0 0 0 0;
  }
  .textBlock h4 {
    font-size: 30px;
    text-align: center;
  }
  .tomatos-block {
    justify-content: center;
  }
  #tomato {
    margin: 0 0;
  }
  .middle-page {
    padding: 0 0 0 0;
    flex-direction: column;
  }
  .middle-text {
    display: block;
    flex-direction: column;
    width: 90%;
    height: fit-content;
  }
  .red-text p {
    text-align: center;
    font-size: 18px;
  }
  .left-text h1 {
    font-size: 30px;
    text-align: center;
  }
  .right-text img {
    max-width: 100%;
    max-height: 100%;
  }
  .addToCart-block {
    text-align: center;
  }
  .sortTomato {
    flex-direction: column;
    height: fit-content !important;
  }
}
@media (min-width: 768px) and (max-width: 1180px) {
  * {
    overflow-x: hidden;
  }
  .header {
    align-items: center;
  }
  .header-all {
    width: 95%;
    height: fit-content !important;
  }
  .container img {
    height: fit-content !important;
  }
  .head {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .logotip {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 250px;
    height: fit-content;
  }
  .burger-menu {
    display: flex;
    margin-bottom: auto;
  }
  .top-logo-img {
    display: flex;
    flex-direction: row-reverse;
  }
  .Menu {
    display: none;
  }
  .HeadSearch {
    display: flex;
    padding: 20px;
    margin: auto;
  }
  .search {
    width: 290px;
  }
  .headcontant {
    margin-top: 40px;
    height: fit-content;
    gap: 105px;
  }
  .headtext {
    font-size: 30px;
  }
  .MiddleList {
    display: none;
  }
  .content-first {
    padding: 71px 0 20px 0;
  }
  #block-first {
    flex-direction: column;
  }
  #block-first-first {
    width: 80%;
  }
  #block-first-first p {
    width: auto;
  }
  #first-img {
    width: 22em;
    height: auto;
  }
  #block-second {
    flex-direction: column-reverse;
  }
  #block-second-first {
    width: 80%;
  }
  #img-content-second {
    width: 22em;
    height: auto;
  }
  #content-second-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  #footer_first {
    flex-direction: column;
    align-items: center;
  }
  #footer_first ul {
    flex-direction: column;
    padding-left: 0px;
  }
  #icons {
    display: none;
  }
  .contant-contact {
    margin-left: 100px;
    margin-right: 20px;
    width: 80%;
  }
  .content-anketa {
    display: flex;
    flex-direction: column !important;
    height: fit-content;
  }
  .right-content {
    margin-left: 0px;
    width: 100% !important;
    height: fit-content !important;
    overflow-x: hidden;
  }
  .left-content {
    margin-left: 0px;
    width: 100% !important;
    height: fit-content !important;
    overflow-x: hidden;
  }
  .left-content input {
    width: 100%;
    box-sizing: border-box;
  }
  .input2,
  .input3 {
    width: 80%;
    box-sizing: border-box;
  }
  .select {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .select::after {
    content: "\25BC"; /* добавляем стрелку вниз */
    position: absolute; /* абсолютное позиционирование */
    top: 50%; /* выравнивание по вертикали */
    right: 10px; /* отступ от правого края */
    transform: translateY(-50%); /* центрируем по вертикали */
    pointer-events: none; /* чтобы стрелка не перехватывала события */
  }
  .sumbit-kapcha {
    width: 100%;
    justify-content: flex-start;
  }
  .input4 {
    margin-right: 10px;
  }
  .kaptcha {
    width: 150px;
    height: fit-content;
    margin-right: 2px;
  }
  .right-content button {
    width: 100px;
  }
  .textBlock {
    padding: 0 0 0 0;
    margin: 10px 10px;
  }
  .textBlock h4 {
    font-size: 30px;
    text-align: center;
  }
  .tomatos-block {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #tomato {
    margin: 1px 2px;
  }
  .middle-page {
    padding: 0 0 0 0;
    flex-direction: column;
  }
  .middle-text {
    display: block;
    flex-direction: column;
    width: 90%;
    height: fit-content;
  }
  .red-text p {
    text-align: center;
    font-size: 18px;
  }
  .left-text h1 {
    font-size: 30px;
    text-align: center;
  }
  .right-text img {
    max-width: 100%;
    max-height: 100%;
  }
  .addToCart-block {
    text-align: center;
  }
  .sortTomato {
    flex-direction: column;

    height: fit-content !important;
  }
}
