@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Regular.woff2') format('woff2'), url('RobotoSlab-Regular.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
.headtext{
    position: absolute;
    font-size: 50px;
    color:#8a6013;
    top: 35%;
    left: 29%;
    font-weight:500
}
body {
    overflow-x: hidden;
    font-family: 'Roboto';
    color: #324950;
    padding:0;
    margin: 0;
}

.container {
    max-width: 1920px;
    padding: 0 0;
    margin: 0 auto;
}
.header {
    width: 1920px;
    height: 850px;
}
.banner {
    position: absolute;
    width: 1920px;
    height: 850px;  
}
a.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #108f3a;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
.logotip {
    width: 225px;
    height: 113px;
    margin: 10px 0;
} 
.head{
    position: absolute;
    margin: 20px auto;
    width: 1130px;
    height: 113px;
    left: 388px;
    right: 405px;
    display: flex;
    justify-content: space-between;
    
}
.HeadSerch{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.search {
    width: 350px;
    height: 29px;
    border-bottom: solid 1px black;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}
.SearchInput{
    background: transparent;
    border: 0;
    outline: none;
    font-weight:500;
}
.SerchIcon {
    margin: 3px 0;
    width: 18px;
    height: 18px;
}
.Menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 499px;
    height:25px;
    font-weight:700;
    margin-right: auto;
}
.MenuItem {
    color: #3d5e68;
}
a {
    color: #324950;
}
a:hover {
    color: #324950;
    text-decoration: none;
}
.FooterTop {
    display: flex;
    justify-content: space-between;
    background-color: #2D3F45;
}
.FooterItem {
    color: #FFFFFF;
    margin-right: 45px;
}
.FooterLink {
    display: flex;
    justify-content: space-between;
}
.FooterList {
    margin-left: 400px;
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    width: 724px;
    height: 23px;
}
.Social{
    display:flex;
    list-style-type: none;
    margin-right: 400px;
}
.footer {
    width: 1920px;
    height: 76px;
}
.FooterSocial {
    margin-left: 10px;
    margin-top: 25px;
}
.FooterBottom {
    width: 1920px;
    height: 51px;
    background-color: #324950;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FooterText {
    font-size: 14px;
    color: #B9B9B9;
    margin: 0;
    padding: 0;
}

.middle {
    margin: 0;
    max-width: 1920px;

}
.MiddleList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px 175px;
}
.MiddleItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MiddleIco {
    margin-bottom: 20px;
}
.MiddleVis {
    margin: 70px 5 5 5;
    display: flex;
    flex-direction: column;   
} 

.MiddleVision {
    display: flex;
    justify-content: center;
}
.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.MiddlePoints {
    width: 48px;
    height: 6;
    margin: 30px 0;
    margin-left: 42px;
}
.MiddleText {
    width: 450px;
    height: 132px;
    margin-left: 42px;
    font-size:125%
}
.MiddlePhoto {
    width: 545px;
    height: 545px;
}
.MiddleTitle {
    font-weight: bold;
    margin-left: 42px;
}
.Agrideras {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    padding: 60px 0;
}
.AgriderasTitle {
    font-size: 50px;
    font-weight:900
}
.LowerSysteme {
    display: flex;
}
.LowerSystem {
    display: flex;
    max-height: 357px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}
.LowerIcons {
    width: 183px;
    margin: 30px 0;
}
.LowerText {
    text-align: center;
    width: 241px;
    height: 52px;
    font-size: 18px;
}
.LowerTitle {
    color: green;
    font-size: 24px;
}
