body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: #324950;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container {
    width: 100%;
    padding: 0 0;
    max-width: 1100em;
    margin: 0 0;
}
.header{
    width: 100%;
    max-width: 1100em;
    height: 850px;
    padding-top: 20px 405px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
  background-size: cover;
}
.head{
    width: 1130px;
    height: 113px;
    left: 388px;
    right: 405px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.logotip {
    width: 166px;
    height: 83px;
    margin: 10px 0;
} 
.HeadSearch{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}
.search {
    width: 350px;
    height: 29px;
    border-bottom: solid 1px black;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}
.SearchInput{
    background: transparent;
    border: 0;
    outline: none;
    font-weight:500;
    font-size: 16px;
}
.SearchIcon {
    margin: 3px 0;
    width: 18px;
    height: 18px;
}
.Menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 499px;
    height:25px;
    font-weight:500;
    margin-right: auto;
}
.MenuItem {
    color: #3d5e68;
}
a {
   color: inherit;
   cursor: pointer;
   text-decoration: none;
}
a:hover {
    color: #324950;
    text-decoration: none;
}
.headButton {
    background-color: #108f3a;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.headcontant{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 229px;
    text-align: center;
    gap: 76px;
}
.headtext{
    font-size: 50px;
    color:#8a6013;
    top: 35%;
    left: 29%;
    font-weight:500
}
.middle {
    margin: 0;
    max-width: 1100em;
}
.MiddleList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px 175px;
}
.MiddleItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MiddleIco {
    margin-bottom: 20px;
}
.MiddleVis {
    margin: 70px 5 5 5;
    display: flex;
    flex-direction: column;   
    background-image: url('./img/Union.png');
    background-color:#E5E5E5;
    background-repeat: no-repeat;
    background-position: center center;
  background-size: cover;
    height: fit-content;
} 

.MiddleVision {
    display: flex;
    justify-content: center;
}
.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.MiddlePoints {
    width: 48px;
    height: 6;
    margin: 30px 0;
    margin-left: 42px;
}
.MiddleText {
    width: 450px;
    height: 132px;
    margin-left: 42px;
    font-size:125%
}
.MiddlePhoto {
    width: 545px;
    height: 545px;
}
.MiddleTitle {
    font-weight: bold;
    margin-left: 42px;
}
.Agrideras {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px 0;
}
.AgriderasTitle {
    font-size: 50px;
    font-weight:900
}
.LowerSysteme {
    display: flex;
}
.LowerSystem {
    display: flex;
    max-height: 357px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}
.LowerIcons {
    width: 183px;
    margin: 30px 0;
}
.LowerText {
    text-align: center;
    width: 241px;
    height: 52px;
    font-size: 18px;
}
.LowerTitle {
    color: green;
    font-size: 24px;
}
#footer_first{
    padding: 27px 0 10px 0;
    background-color: #2D3F45;
    display: flex;
    justify-content: space-around;
}
#footer_first ul{
    text-transform: uppercase;
    cursor: pointer;
    list-style: none;
    color: #fff;
    gap: 30px;
    display: flex;
    flex-direction: row;
}
#footer_first a{
    color: #fff;
}
.footer_first div{
    align-items: center;
    display: flex;
}
.footer_first div img{
    width: 30px;
    height: 30px;
}
#footer_second{
    
    padding: 18px 0 13px 0;
    background-color: #50676e;
    text-align: center;
    color: #fff;
}
#footer_second p{
    margin: 0;
}