body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: #324950;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container {
    width: 100%;
    padding: 0 0;
    max-width: 1100em;
    margin: 0 0;
}
.header{
    width: 100%;
    max-width: 1100em;
    height: 850px;
    padding-top: 20px 405px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
  background-size: cover;
}
.head{
    display: flex;
    justify-content: space-around;
}
.logotip {
    width: 166px;
    height: 83px;
    margin-top: 15px;
} 
.HeadSearch{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}
.search {
    width: 350px;
    height: 29px;
    border-bottom: solid 1px black;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}
.SearchInput{
    background: transparent;
    border: 0;
    outline: none;
    font-weight:500;
    font-size: 16px;
}
.SearchIcon {
    margin: 3px 0;
    width: 18px;
    height: 18px;
}
.Menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 499px;
    height:25px;
    font-weight:500;
    margin-right: auto;
}
.MenuItem {
    color: #3d5e68;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
a {
   color: inherit;
   cursor: pointer;
   text-decoration: none;
}
a:hover {
    color: #324950;
    text-decoration: none;
}
.headButton {
    background-color: #108f3a;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.headcontant{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 229px;
    text-align: center;
    gap: 76px;
}
.headtext{
    font-size: 50px;
    color:#8a6013;
    top: 35%;
    left: 29%;
    font-weight:500
}
.middle {
    margin: 0;
    max-width: 1100em;
}
.MiddleList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px 175px;
}
.MiddleItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MiddleIco {
    margin-bottom: 20px;
}
.content-first{
    padding: 71px 0 100px 0;
    text-align: left;
    /* padding: 20px 175px; */
    overflow: hidden;
    background-color: #f8f8f8;
}
#block-first {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
#first-img {
    width: 33.75em;
    height: 31.125em;
}
#block-first-first p {
    width: 495px;
}
#block-second-first{
    width: 495px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.bg-content{
    background-image: url(./img/Union.png);
    background-repeat: no-repeat;
    background-position: center center;
  background-size: cover;
  width: 100%;
}
.content-second{
    background-color: #EDEDED;
    text-align: center;
    padding-top: 70px;
}
#block-second {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
#img-content-second {
    align-items: center;
    display: flex;
}
#content-second-block{
    padding-bottom: 91px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#content-second-block figure {
    text-align: center;
}
#content-second-block figcaption {
    color: green;
    font-weight: 600;
}
#figure-1, #figure-2, #figure-3 {
    color: #324950;
    width: 243px;
    margin: 0 auto;
}
#footer_first{
    padding: 27px 0 10px 0;
    background-color: #2D3F45;
    display: flex;
    justify-content: space-around;
}
#footer_first ul{
    text-transform: uppercase;
    cursor: pointer;
    list-style: none;
    color: #fff;
    gap: 30px;
    display: flex;
    flex-direction: row;
}
#footer_first a{
    color: #fff;
}
.footer_first div{
    align-items: center;
    display: flex;
}
.footer_first div img{
    width: 30px;
    height: 30px;
}
#footer_second{
    
    padding: 18px 0 13px 0;
    background-color: #50676e;
    text-align: center;
    color: #fff;
}
#footer_second p{
    margin: 0;
}